masfactory
torch
Pillow
torchvision
pytorch-lightning
qdrant-client
sentence-transformers
tqdm

# to use intel® OpenVINO™ toolkit for model optimization and inference using the Intel GPU
openvino>=2026.0.0
optimum-intel>=1.27.0
nncf